.social-nav-bar {
  height: 10vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.mini-browser,
.title-container {
  width: 45%;
  height: 50vh;
}

.title-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.landing-block .center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#ring {
  animation: simple-rotation 4s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes simple-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#picture {
  animation: adjust-picture 2.5s ease infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes adjust-picture {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

#rulerX {
  animation: enlargeX 2.5s ease infinite alternate;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes enlargeX {
  from {
    transform: scaleX(0.8);
  }
  to {
    transform: scaleX(1.1);
  }
}

#rulerY {
  animation: enlargeY 2.5s ease infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes enlargeY {
  from {
    transform: scaleY(0.8);
  }
  to {
    transform: scaleY(1.1);
  }
}

.title-container * {
  padding: 20px 0px;
}

.title-container h1 {
  font-size: 4em;
}

.title-container h1 span {
  color: #00bfa6;
  background-color: transparent;
}

.title-container p {
  font-weight: 200;
  width: 90%;
}

.title-container button {
  padding: 1em 1.5em;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-right: 20px;
  border: 1px solid black;
  cursor: pointer;
  outline: none;
}

.title-container a {
  -webkit-tap-highlight-color: transparent;
}

.title-container .button-container {
  display: flex;
}

@media screen and (max-width: 1350px) {
  .title-container h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 900px) {
  .social-nav-bar {
    justify-content: center;
  }
  .title-container h1 {
    font-size: 2em;
  }
  .landing-block .center-content {
    flex-direction: column-reverse;
  }
  .mini-browser,
  .title-container {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .title-container {
    text-align: center;
  }
  .title-container .button-container {
    justify-content: center;
  }
  .title-container button {
    margin: 0px 10px;
  }
}
