.main-block {
  width: 100%;
}

.landing-block {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.stack-block {
  background-color: #00bfa6;
  height: 100vh;
}

.projects-block {
  height: 100vh;
}

.footer-block {
  background-color: #3f3d56;
  height: 33vh;
}
